In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [29]:
dataset = pd.read_csv('F1Score_55-66 - Grouping_Labels(score=0.25).csv')
datatrain = dataset.iloc[:, [0, 2, 3, 4, 7, 8]]
datavalid = dataset.iloc[:, [0, 2, 3, 5, 7, 9]]
datatest = dataset.iloc[:, [0, 2, 3, 6, 7, 10]]

In [30]:
dataset.head()

,No Label,No Model,Labels,Dataset,Train_Images,Val_Images,Test_Images,Model,Train_F1,Val_F1,Test_F1
0,1,1,horizontal_white,4.0,5718,714,714,yolo-v4-57-21042022,0.6953,0.5602,0.5403
1,1,2,horizontal_white,4.0,5718,714,714,yolo-v4-60-23042022,0.7608,0.5772,0.5462
2,1,3,horizontal_white,6.0,5718,714,714,yolo-v4-55-21042022,0.6738,0.5377,0.5172
3,1,4,horizontal_white,6.0,6391,798,798,yolo-v4-59-23042022,0.6749,0.5607,0.5533
4,1,5,horizontal_white,7.0,1096,137,137,yolo-v4-63-13052022,0.7631,0.5561,0.4679

In [31]:
datatrain.head()

,No Label,Labels,Dataset,Train_Images,Model,Train_F1
0,1,horizontal_white,4.0,5718,yolo-v4-57-21042022,0.6953
1,1,horizontal_white,4.0,5718,yolo-v4-60-23042022,0.7608
2,1,horizontal_white,6.0,5718,yolo-v4-55-21042022,0.6738
3,1,horizontal_white,6.0,6391,yolo-v4-59-23042022,0.6749
4,1,horizontal_white,7.0,1096,yolo-v4-63-13052022,0.7631

In [32]:
datavalid.head()

,No Label,Labels,Dataset,Val_Images,Model,Val_F1
0,1,horizontal_white,4.0,714,yolo-v4-57-21042022,0.5602
1,1,horizontal_white,4.0,714,yolo-v4-60-23042022,0.5772
2,1,horizontal_white,6.0,714,yolo-v4-55-21042022,0.5377
3,1,horizontal_white,6.0,798,yolo-v4-59-23042022,0.5607
4,1,horizontal_white,7.0,137,yolo-v4-63-13052022,0.5561

In [33]:
datatest.head()

,No Label,Labels,Dataset,Test_Images,Model,Test_F1
0,1,horizontal_white,4.0,714,yolo-v4-57-21042022,0.5403
1,1,horizontal_white,4.0,714,yolo-v4-60-23042022,0.5462
2,1,horizontal_white,6.0,714,yolo-v4-55-21042022,0.5172
3,1,horizontal_white,6.0,798,yolo-v4-59-23042022,0.5533
4,1,horizontal_white,7.0,137,yolo-v4-63-13052022,0.4679

In [34]:
X_train = datatrain.iloc[:, [0,2,3,4]].values
y_train = datatrain.iloc[:, -1].values

In [36]:
y_train

array([ 0.6953,  0.7608,  0.6738,  0.6749,  0.7631,  0.6703,  0.7328,
        0.6963,  0.5815,  0.6812,  0.3778,  0.6714,  0.7891,  0.6572,
        0.6352,  0.6401,  0.5143,  0.6799,  0.6497,  0.4882,  0.5997,
        0.1654,  0.7619,  0.7963,  0.766 ,  0.7657,  0.773 ,  0.7677,
        0.6687,  0.7511,  0.0872,  0.2205,  0.3194,  0.161 ,  0.0082,
        0.3476,  0.0248, -1.    ,  0.1706,  0.0147,  0.6189,  0.5459,
        0.6135,  0.0328,  0.629 ,  0.5718,  0.2047,  0.5069,  0.1948,
        0.4339,  0.5034,  0.2513,  0.0942,  0.5781,  0.4652,  0.0433,
        0.3949,  0.1117,  0.7107,  0.4667,  0.7119,  0.6724,  0.6364,
        0.475 ,  0.5206,  0.4474,  0.238 ,  0.3958,  0.0521,  0.3716,
        0.281 , -1.    ,  0.1552,  0.0563])

In [ ]:
X_set, y_set = X_train, y_train
X1, X2 = np.meshgrid(np.arange(start=X_set[:, 0].min() - 10, stop=X_set[:, 0].max() + 10, step=0.25), 
                     np.arange(start=X_set[:, 1].min() - 1000, stop=X_set[:, 1].max() + 1000, step=0.25))
# plt.contour(X1, X2, classifier.predict(sc.transform(np.array([X1.ravel(), X2.ravel()]).T)).reshape(X1.shape), alpha=0.75, cmap=ListedColormap(('red', 'blue')))
plt.xlim(X1.min(), X1.max())
plt.ylim(X2.min(), X2.max())
for i, j in enumerate(np.unique(y_set)):
    if j == 0:
        label_name = 'not buy'
    else:
        label_name = 'buy'
    plt.scatter(X_set[y_set==j,0], X_set[y_set==j, 1], color=ListedColormap(('red', 'blue'))(i), label=label_name)
plt.title('Sebaran Data Training Pembelian Mobil')
plt.xlabel('Usia')
plt.ylabel('Jumlah Pendapatan ($)')
plt.legend()
plt.savefig('data_train.png')
plt.show()